<div id="<%= dom_id gestor %>">
  <p>
    <strong>Proyecto :</strong>
    <%= gestor.nombre %>
  </p>

  <p>
    <strong>Descripción :</strong>
    <%= gestor.descripcion %>
  </p>

  <p>
    <strong>Fecha inicio :</strong>
    <%= gestor.fechacom %>
  </p>

  <p>
    <strong>Fecha término :</strong>
    <%= gestor.fechater %>
  </p>

  <p>
    <strong>Estado :</strong>
    <%= gestor.estado %>
  </p>

</div>
