<p style="color: green"><%= notice %></p>

<%= render @gestor %>

<div>
  <td scope="row">
    <%= link_to gestors_path, style: "text-decoration: none;" do %>
      <i class="fa-solid fa-reply text-info"></i>&nbsp;
    <% end %>
    <%= link_to edit_gestor_path(@gestor), style: "text-decoration: none;" do %>
      <i class="fa-solid fa-pen-to-square text-warning"></i>&nbsp;
    <% end %>

    <%= button_to @gestor, method: :delete, class: "btn", style: "text-decoration: none;", confirm: "¿Estás seguro?" do %>
      <i class="fa-solid fa-trash-can text-danger"></i>&nbsp;
    <% end %>
  </td>

</div>
