<p style="color: green"><%= notice %></p>

<%= render @gestor %>

<div>
  <td scope="row">
    <%= link_to gestors_path, style: "text-decoration: none;" do %>
      &nbsp;<i class="fa-solid fa-reply text-info"></i>
    <% end %>
    <%= link_to edit_gestor_path(@gestor), style: "text-decoration: none;" do %>
      <i class="fa-solid fa-pen-to-square text-warning"></i>
    <% end %>

    <%= button_to @gestor, method: :delete, class: "btn" do %>
      <i class="fa-solid fa-trash-can text-danger" style="text-decoration: none;"></i>
    <% end %>
  </td>
</div>
